@CHARSET "UTF-8";

/* Disable certain interactions on touch devices */
html,body {
  /*
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  */
  -webkit-tap-highlight-color: #bebdc1;
  -webkit-touch-callout: none;
  -webkit-highlight: none;
  -ms-touch-action: none;
  overflow: hidden;
}

/*----- project relative css -----*/
/*通用*/
a:hover { text-decoration: none; }
a.op { color: #00a0f8;font-size: 14px;font-size: 1.4rem; }
.clickbg { background: #e9e9e9; }
.btn {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 4px;
  text-align: center;
  margin: 0;
  color: #999;
  font-size: 14px;
  font-size: 1.4rem;
  cursor: pointer;
  line-height: 20px;
}
.btn.disabled, .btn[disabled] {
	background-color: #c9c9c9 !important;
	background-image: none !important;
	border: 1px solid transparent !important;
	color: #fff !important;
}
.btn.txt-disabled {
	color: #c9c9c9;
	border: 1px solid #f0f0f0;
}
.btn.btn-orange {
  color: #fff;
  border-color: #f15a0c;
  background-color: #f15a0c;
}
.btn.btn-red {
	color: #fff;
	background-color: #ed5050;
	border-color: #b93232;
}
.btn.btn-green {
	color: #fff;
	background-color: #06bf04;
	border-color: #03b401;
}
.btn.btn-blue {
	color: #fff;
	background-color: #0180f6;
	border-color: #027ff6;
}
.btn.btn-purple {
	color: #fff;
	background-color: #b5359d;
	border-color: #b6349d;
}
.btn.btn-white {
	color: #333;
	background-color: #fff;
	border-color: #e5e5e5;
}
.btn.btn-block {
	text-align: center;
	width: 100%;
	padding: 11px 10px;
	font-size: 16px;
	line-height: 16px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.check {
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
  background-position: -20px -20px;
  width: 20px;
  height: 20px;
  background-image: url("../img/2x/cart2.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
.check.checked { background-position:0 -20px; }
.check.delete { background-position:-20px 0; }
.error { text-align: center;padding-top: 100px;font-size: 16px;font-size: 1.6rem; }
.themore {margin:15px 0;}
.themore a{display:block;height:40px;line-height:40px;color:#5f646e;text-align:center;font-size:16px;font-size:1.6rem;background: #ddd;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.themore a.disable { color: #999; }

/*主体页面dom*/
#rtWrap { width: 100%;height: 100%;margin: 0 auto;position: relative;background: #f1f1f1;overflow: hidden; }
#activePage,#loadingCanvas { position: absolute;top: 0;bottom: 45px;width: 100%;/*overflow-x: hidden;overflow-y: scroll;*/-webkit-overflow-scrolling: touch;overflow: hidden; }
#activePage.useTopNav-1,#loadingCanvas.useTopNav-1 { top: 41px; }
#activePage.useNav-2,#loadingCanvas.useNav-2 { bottom: 41px; }
#activePage.useNav-0,#loadingCanvas.useNav-0 { bottom: 0; }
#loadingCanvas { display:none;background:#fff;z-index:10000; }
#activePage > .scrollArea {
	position: absolute;
	width: 100%;
	overflow: auto;
	zoom: 1;
	z-index:100;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
#activePage > .scrollArea.fixmaxheight {
	height: 100%;
}
#activePage > .pageBg {
  display: none;
  height:50px;
  line-height: 50px;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
  color: #999;
}
#activePage > .pageBg em {
  font-weight: bold;
  margin: 0 3px;
}
.pageCover {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	background: #000;
  opacity: 0.3;
  z-index: 1000;
}

/*底部主导航*/
.nav { height: 44px;background: #f8f8f8;width: 100%;border-top: 1px solid #ddd;position: absolute;bottom: 0;left: 0; -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);box-shadow: 0 0 4px rgba(0,0,0,0.2); }
.nav-it { display: block;line-height: 44px;text-align: center;border-right: 1px solid #ddd;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box; }
.nav-it.last { border-right: none; }
.nav-it a { color: #5f646e;display: block;height: 100%;font-size: 18px;font-size: 1.8rem; }
.nav-it a.cur { color: #f15a0c; }
.nav-2 {
	height:40px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(bottom), color-stop(0%, rgba(226, 227, 231, 0.33)), to(rgba(248, 248, 248, 0.33)));
	background-image: -webkit-linear-gradient(bottom, rgba(226, 227, 231, 0.33) 0%, rgba(248, 248, 248, 0.33) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(226, 227, 231, 0.33) 0%, rgba(248, 248, 248, 0.33) 100%);
	background-image: linear-gradient(bottom, rgba(226, 227, 231, 0.33) 0%, rgba(248, 248, 248, 0.33) 100%);
	background-color: #fff;
}
.nav-2 .nav-body { padding: 0 6px;height: 100%;font-size: 14px;font-size: 1.4rem; }
.nav-2 .nav-it { line-height: 40px;border: none;padding: 0 3px; }
.nav-2 .btn {
	display: inline-block;
	width: 100%;
	height: auto;
	font-size: 14px;
	font-size: 1.4rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-cart .nav-body { font-weight: 500;color: #f60;position: relative;line-height: 40px;padding: 0 10px; }
.nav-cart .c-lt { width: 55px;color: #ccc; }
.nav-cart .c-rt { width: 75px; }
.nav-cart .c-md { font-weight: 700;margin:0 85px 0 65px;	}
.nav-cart .c-lt .check { margin:-3px 5px 0 0; }
.nav-cart .c-lt.checked { color: #f60; }
.nav-cart .c-lt.delete { color:#ed5050; }

/*顶部导航*/
.micon { background:url(../img/2x/micon.png) no-repeat;background-size: 250px; }
.topnav { height: 40px;line-height: 40px;border-style: solid;border-color: #ddd;border-width: 0 0 1px;color: #5f646e;background: #fff;position: relative; }
.topnav a { color: #5f646e;font-size: 16px;font-size: 1.6rem;text-align: center; }
.topnav .on { color: #ff6600; }
.topnav .listyle { float: right;width: 60px;height: 100%;text-align: center; }
.topnav .listyle a { display: block;width: 100%;height: 100%;text-align: center; }
.topnav .listyle a i { display: inline-block;background-position:0 0;width: 24px;height: 24px;margin-top: 8px; }
.topnav .listyle a.ls2 i { background-position:0 -24px; }
.topnav .mbar { border-right: 1px solid #ddd;margin-right: 60px;text-align: center; }
.topnav .mbar .fl { width: 110px;text-align: left;padding-left: 10px; }
.topnav .mbar .fr { /*width: 60px;*/margin-right: 5px; }
.triangle { display: inline-block;width: 0;height: 0;vertical-align: middle;margin-left: 2px;border-color: #5f646e transparent transparent;border-style: solid;border-width: 5px 5px 0; }
.triangle-up { border-color: transparent transparent #5f646e;border-width: 0 5px 5px; }
.on .triangle { border-color: #ff6600 transparent transparent; }
.on .triangle-up { border-color: transparent transparent #ff6600; }
.topnav-rank { text-align: center;line-height: 38px; }
.topnav-rank .on { color: #b5359d;border-bottom: 2px solid #b5359d; }
.topnav-rank .prompt { text-align: center;font-size: 16px;font-size: 1.6rem;font-weight: bold; }

.downmenu { display: none;width: 100%;padding-left: 15px;position: absolute; z-index: 1001;background: #fff;line-height: 40px; }
.downmenu .mit { border-bottom: 1px solid #ddd;height: 40px; }
.downmenu .mit.last { border-bottom: none; }
.downmenu a { color: #5f646e;display: inline-block;width: 90%;height: 100%; }
.downmenu .on,.downmenu .on a { color: #ff6600; }
.downmenu .on span { float: right;display: inline;margin-right: 15px; }

/*pic slider*/
.swipe{width:100%;min-height:133px;overflow:hidden;position:relative;}
.swipe ul{-webkit-transition:left 800ms ease-in 0;-moz-transition:left 800ms ease-in 0;-o-transition:left 800ms ease-in 0;-ms-transition:left 800ms ease-in 0;transition:left 800ms ease-in 0;}
.slider li{position:relative;height:auto;font-size:0;}
.slider li img{width:100%;vertical-align:top;}
.slider li span{ display:inline-block; height:25px; line-height:25px; font-size:13px;font-size:1.3rem; position:absolute; bottom:4px; left:0; width:100%; background:url(../img/bg.png) repeat; color:#fff; padding-left:5px;}
.slidnav{position:absolute;left:0;right:0;bottom:10px;width:100%;text-align:center;}
.slidnav a{width:5px;height:5px; margin:0 4px; line-height:99em;background:none; background:#fff;border:1px solid #fff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;overflow:hidden;cursor:pointer;display:inline-block;*display:inline;*zoom:1;}
.slidnav a.active{background:#b5359d;border:1px solid #b5359d;}

/*match页*/
a.alink { color: #b5359d; }
.match-top { position: absolute;width: 100%;line-height: 30px;height: 30px;font-size: 13px;font-size: 1.3rem;color: #b5359d;padding: 0 2px;text-align:center;background: #141414;opacity: .75;z-index: 1000; }
.match-top > span { float: right; }
.match-thumb { position: relative; }
.match-thumb img { max-width: 100%;vertical-align: top; }
.match-thumb .join { position: absolute;bottom: -2px;width: 100%;text-align: center; }
.match-thumb .btn-purple { background: transparent url("http://fimg.fxmapp.com/img/icon_color_btn.png") no-repeat scroll 0 0;width: 175px;height: 62px;line-height: 62px;border: none;border-radius: 0;padding: 0; }
.match-info .join { padding-top: 10px; }
.player-info .join { margin: 15px 4px; }
.lastrow { padding: 4px;color: #999; }
.block-page-title { margin-top: 20px;background: #ddd; }
.block-page-title a { color: #5f646e;display: inline-block;width: 50%;text-align: center;height: 38px;line-height: 40px; }
.block-page-title a.on { color: #b5359d;border-bottom: 2px solid #b5359d;font-weight: bold; }
.block-page { margin: 10px; font-size: 14px; font-size: 1.4rem; }
.block-page .row { margin-bottom: 10px;border-radius: 5px;background: #fff;padding: 10px; }
.block-page .row .dt em,.block-page .row .dt strong { font-weight: bold; }
.block-page .row .dt img { max-width: 100%; }
.block-page .row .dtmore { margin-top: 15px; }
.block-page .row .dtmore .btn-orange {  background-color:#f4e1ab;border-color:#f4e1ab;color:#c76f3f;border-radius: 0; }
.search-box { margin: 0 4px;position: relative; }
.search-box input { border: none;line-height: 40px;height: 40px; }
.search-box input.stext { background: #fff;padding: 2px 0 0 10px;width: 100%;border-radius: 5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
.search-box input.sbtn { position: absolute;right: 0;background: transparent url(../img/s.png) no-repeat scroll 14px 14px;padding: 0;margin: 0;width: 40px;}
.linkbtn-box { margin-bottom: 15px;padding: 0 4px; }
.linkbtn-box a.btn { font-size: 14px;font-size: 1.4rem; }
.player-info { margin: 15px 6px; }
.player-list { margin-top: 15px; }
.player-list .listtip { text-align: center;color: #999;margin-bottom: 5px; }
.player-list .emptytip { background: #fff;height: 40px;line-height: 40px;text-align: center;margin:0 5px 5px; }
.player-list .emptytip a { color: #f60; }
.player-list .itbox { display: inline-block;width: 50%; }
.player-list .itcont { display: block;font-size: 12px;font-size: 1.2rem;margin: 0 4px 8px;border-radius: 5px;border-width: 1px 1px 2px;border-style: solid;border-color: #ddd;background: #fff;color: #999; }
.player-list .itcont.hl1,.player-list .itcont.hl2,.player-list .itcont.hl3 { border-color: #ff6600;border-width: 2px;border-style: dotted;-webkit-box-shadow: 0 0 10px rgba(255, 102, 0, .4);-moz-box-shadow: 0 0 10px rgba(255, 102, 0, .4);box-shadow: 0 0 10px rgba(255, 102, 0, .4); }
.player-list .itcont.hl2 { border-color: #b5359d;-webkit-box-shadow: 0 0 10px rgba(181, 53, 157, .4);-moz-box-shadow: 0 0 10px rgba(181, 53, 157, .4);box-shadow: 0 0 10px rgba(181, 53, 157, .4); }
.player-list .itcont.hl3 { border-color: #f00;-webkit-box-shadow: 0 0 10px rgba(255, 0, 0, .4);-moz-box-shadow: 0 0 10px rgba(255, 0, 0, .4);box-shadow: 0 0 10px rgba(255, 0, 0, .4); }
.player-list .cot { padding: 2px 5px 5px; }
.player-list .cot .rt { float: right; }
.player-list .imgc { width: 100%;overflow: hidden;text-align: center;vertical-align: middle;position: relative; }
.player-list .imgc .edge { width: 0;height: 100%;display:inline-block;vertical-align:middle; }
.hl1 .ranktip,.hl2 .ranktip { color: #ff0000;font-weight: bold; }
.hl2 .ranktip { color: #b5359d; }
.player-list .imgc img { width: 100%; display:inline-block;text-align: center;vertical-align: middle; }
.player-list .fot { padding: 5px; margin-top: 3px;line-height: 18px;border-top: 1px dotted #ccc; }
.player-list .fot .p { display: inline-block;width: 55%;text-align: left;font-size: 12px;font-size: 1.2rem; }
.player-list .fot .p.rt { width: 45%; }
.paging { margin: 5px;-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);box-shadow: 0 0 10px rgba(0, 0, 0, .4); }
.paging .pgbtn { display: inline-block;width: 20%;height: 40px;line-height: 40px;text-align: center;background: #fff;color: #333;border: none;padding: 0;margin: 0; }
.paging .pgbtn.disable { color: #ccc; }
.player-pass-tip { font-size: 13px;font-size: 1.3rem;color: #999;text-align: center; }
.player-pass-tip em { font-weight: bold; }
.player-pass-tip .alink { font-size: 13px;font-size: 1.3rem;color: /*#44b549*/#06bf04;font-weight: bold; }

/*match join页*/
.match-join { padding: 10px; }
.match-join .row { margin-bottom: 10px; }
.match-join .pname { font-size: 20px;font-size: 2rem;text-align: center; }
.match-join .row-ele { border-radius: 5px;background-color: #fff;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box; }
.match-join .row-tip { background-color: #d3d3d3;padding: 5px 10px; }
.match-join .row-tip2 em { color: red; }
.match-join .inptxt { border: 1px solid #ccc;height: 40px;line-height: 40px;padding-left: 5px; }
.match-join .inpsel { border: 1px solid #ccc;height: 36px;padding-left: 5px;width: 48%; }
.match-join .btn { width: 100%;line-height: 32px;font-size: 16px;font-size: 1.6rem; }
.match-join .pvtip { margin-bottom: 3px; }
.match-join .uparea { padding: 0 10px 10px; }
.match-join .uparea input { display: block;height: 25px;line-height: 25px;width: 100%; }
.match-join .uparea span { color: #999;font-size: 13px;font-size: 1.3rem; }
.match-join .row.tips { color: #999;font-size: 13px;font-size: 1.3rem; }
.match-join .row.tips em { font-weight: bold;font-size: 14px;font-size: 1.4rem; }
#match-preview { padding: 10px 10px 0;border-radius: 5px 5px 0 0; }
#match-preview .pv { position: relative;margin-bottom: 10px; }
#match-preview img.pvimg { max-width: 100%;vertical-align: top;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box; }
#match-preview img.pvimg.chkcv { border: 2px solid #ff6600; }
#match-preview .pvop { position: absolute;left: 0;bottom: 0;height: 30px;line-height: 30px;width: 100%; }
#match-preview .pvop a { color: #fff; background: #8c441e;padding: 4px 15px;margin-left: 3px;font-size: 13px;font-size: 1.3rem; }

/*match confirm页*/
.match-confirm .row { text-align: center;margin-bottom: 20px; }
.match-confirm .row.row-tit { margin: 30px 0 20px; }
.match-confirm .row.row-btn { margin-bottom: 10px; }
.match-confirm h1 { font-size: 20px;font-size: 2rem; }
.match-confirm .row-ele { width: 80%; }
.match-confirm .btn { width: 80%; }
.match-confirm .err { color: #ff0000;text-align:center; }

/*match address页*/
.topnav-form { color: #5f646e;text-align: center;font-size: 16px;font-size: 1.6rem; }
.topnav-form a { display: block;float: left;width: 15%;height: 100%; }
.topnav-form a.rt { float: right;color: #f00/*#b5359d;*/ }
.match-address { background: #fff;border-color: #ddd;border-style: solid;border-width: 1px 0;padding: 0 0 0 10px;margin-top: 10px; }
.match-address ul {  }
.match-address li { border-bottom: 1px solid #ddd;overflow: auto;zoom: 1;height:40px;line-height: 40px;  }
.match-address li.last { border-bottom: none; }
.match-address li > div { height: 100%; }
.match-address li input { border: none;width: 95%;height: 30px; }
.match-address-tip { color: #44b549; }
.match-address-tit { padding: 10px;margin-top: 10px; }
.match-address-tit span,.match-address-tit em { font-weight: bold;margin: 0 2px; }
.match-address-tit em { color: #f00; }

/* match player页 */
.match-player,.match-player .swipe,.match-player .slider,.match-player .slidit { height: 100%;width: 100%; }
.match-player { position: relative; }
.match-player .slidit { display: none;text-align: center;vertical-align: middle;background: #000; }
.match-player .slidit img { width: 100%;/*max-width: 100%;max-height: 100%;*/display:inline-block;text-align: center;vertical-align: middle; }
.match-player .slidit .edge { width: 0;height: 100%;display:inline-block;vertical-align:middle; }
.match-player .slidnav{ top: 0;bottom: auto;left: 10px;right: 10px;width: auto;text-align: right; }
.match-player .match-pos { display: block;position: absolute;text-align: center;background: #000;color: #fff;opacity: .75;font-size: 14px;font-size: 1.4rem; }
.match-player .joinno { left: 5px;top: 8px;width: 70px;height: 70px;line-height: 70px;border-radius: 35px;background:#44b549;font-size: 18px;font-size: 1.8rem;font-weight:bold; }
.match-player .ltbar { position: absolute;left: 5px;bottom: 65px;width: 42px;text-align: center;font-size:14px;font-size:1.4rem; }
.match-player .ltbar .barit { display: block;width: 40px;height: 40px;line-height: 40px;background: #000;opacity:.75;border: 1px solid #fff;border-radius: 21px;color: #fff;margin-bottom: 15px; }
.match-player .ltbar .barit.lastit { margin-bottom: 0; }
.match-player .ltbar .barit.tovideo { color: #b5359d;border-color: #b5359d; }
.match-player .torank { right: 5px;bottom: 68px;width: 130px;height: 40px;line-height: 18px;border-radius: 5px;color: #fff;padding: 5px 5px 2px;text-align: left; }
.match-player .torank em { color: #b5359d; }
.match-player .torank span { position: absolute;left: 0;bottom: -3px;width: 100%;height: 16px;line-height: 16px;border-radius: 5px;background: #b5359d;color: #fff;opacity: .75;font-size: 12px;font-size: 1.2rem; }
.match-player .btmnav { height: 44px;width: 100%;border-top: 1px solid #262626;background: #141414;bottom: 0; }
.match-player .btmnav .navit { width: 25%;height: 100%;display: block;float: left;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box; }
.match-player .btmnav a.navit { font-size: 15px;font-size: 1.5rem;color: #fff;padding-top: 7px;line-height: 16px; }
.match-player .btmnav .navit span { font-size: 12px;font-size: 1.2rem;color: #b5359d;line-height: 15px; }
.match-player .nameno { left: 10px;top: 4%;background: none;text-align: left;color: #f1ebe5; }
.match-player .nameno .no { font-size: 13px;font-size: 1.3rem;padding-left: 1px;/*color: #f00;*/ }
.match-player .nameno .name { font-size: 25px;font-size: 2.5rem;line-height: 20px;color: #fff;font-weight: bold;font-family: Georgia;
 -webkit-text-fill-color: transparent;
 -webkit-text-stroke: 1px #fff;
}
.match-player .nameno .qrcode img {width: 43px;height: 43px;}

/*match支付页面*/
.match-topay { height: 100%;position: relative;background: #f5f5f0; }
.match-topay .box-payamount { margin: 0 3%; }
.box-payamount h1 { height: 80px;line-height: 80px;font-size: 24px;font-size: 2.4rem;border-bottom: 2px solid #9b9b9b;color: #b5359d;text-align: center;margin-bottom: 30px; }
.box-payamount .frmbox { padding: 30px 20px;border-radius: 5px;background: #fff;font-size: 17px;font-size: 1.7rem;line-height: 2;-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);box-shadow: 0 0 10px rgba(0, 0, 0, .5); }
.box-payamount .frmbox input { border: 1px solid #ccc;width: 50px;height:25px; }
.box-payamount .frmbox .r2 { color: #44b549; }
.box-payamount .frmbox .r2 em { color: #ff0000; }
.box-payamount .frmbox .r3 { color: #b5359d; }
.box-payamount .frmbox .r4 { color: #007cf7;line-height: 1.75; }
.match-topay .box-topay { position: absolute;bottom: 0;left: 0;width: 100%;height: 60px;line-height: 60px;background: #b5359d;text-align: center; }
.match-topay .box-topay .btn { width: 100%;height: 100%;border: none;border-radius: 0;background: transparent;color: #fff;font-size: 20px;font-size: 2rem; }

/*rank页面*/
#ranklist { width: 94%;margin: 10px auto; }
#ranklist li { width: 100%;overflow: auto;zoom: 1;margin-bottom: 10px; }
#ranklist li.t { text-align: left;color: #999; }
#ranklist li.h { font-weight: bold; }
#ranklist li.e { margin: 20px 0; }
#ranklist li.e a { display: block;text-align: center;border-radius: 5px;background: #ddd;color: #5f646e;height: 40px;line-height: 40px;font-size: 16px;font-size: 1.6rem; }
#ranklist li.e a.none { color: #999; }
#ranklist li.holder { margin: 0;height: 5px; }
#ranklist .cl { text-align: left; }
#ranklist .cc { text-align: center; }
#ranklist .cr { text-align: right; }
#ranklist .cimg { line-height: 20px;display: block;color: #5f646e; }
#ranklist img.ulogo { width: 32px;vertical-align: middle;float: left;margin-right:4px; }
#ranklist .plno { font-size: 12px;font-size: 1.2rem;color: #999; }
#ranklist .zgj { font-size: 13px;font-size: 1.3rem; }
#ranklist .zgj em { margin-right: 2px; }
#ranklist .weektxt { color: #999; }
#ranklist .zhouci { font-weight: bold; }
#ranklist .renqi { color: #f00; }
#ranklist .xianhua { color: #b5359d; }

/*about页*/
.about { position: absolute;top: 0;bottom: 0;width: 100%;background: #fff;padding: 5%; }
.about dt { font-size: 18px;font-size: 1.8rem;font-weight: bold; }
.about dd { font-size: 16px;font-size: 1.6rem; }
.about dd a { color: #3d4245; }

/*pop dialog*/
.popdlg,.popdlg-bg { display: none;position: absolute;z-index: 30000;top: 0;left: 0;width: 100%;height: 100%; }
.popdlg-bg { opacity:.45; background: #000; }
.popdlg { display: none;z-index: 30003;background: #fff;/*-webkit-box-shadow: 0 0 2px #ccc;-moz-box-shadow: 0 0 2px #ccc;box-shadow: 0 0 2px #ccc;*/ }
.popdlg .poptit { height: 40px;line-height: 40px;text-align: center; }
.popdlg .poptit .txt { color: #5f646e;font-size: 18px;font-size: 1.8rem; }
.popdlg .poptit .bg { position: absolute;background: url(../img/2x/micon.png) no-repeat;background-size: 125px auto;width: 30px;height: 31px;text-indent: -9999px; }
.popdlg .poptit .x { background-position: 0 -36px;top: 9px;right: 6px; }
.popdlg .popcont { position: absolute;top: 41px;bottom: 0;width: 100%; }
#pop-filter dt { color: #ff6600;font-size: 12px;font-size: 1.2rem;padding: 5px 10px;border-top: 1px solid #ddd;background: #f5f5f5; }
#pop-filter dt.first { border-top: 1px solid #ccc; }
#pop-filter dd { margin-bottom: 5px;padding: 10px; }
#pop-filter select,#pop-filter input { border: 1px solid #eee;height: 30px;line-height: 30px;width: 100%;padding: 0 10px;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box; }
#pop-filter input { width: 40%;padding: 2px 5px;text-align: left; }
#pop-btm { position: absolute;bottom: 0;height: 40px;line-height: 40px;width: 100%;border-top: 1px solid #ddd;text-align: right; }
#pop-btm .btn { margin-right: 10px;padding: 3px 15px; }

/*pop alert dialog*/
#popalert-bg,#popalert { display: none;position: absolute; }
#popalert-bg { left: 0;top: 0;width: 100%;height: 100%;z-index: 50000;background: #000;opacity:.3; }
#popalert { width: 90%;left: 5%;top: 30%;text-align: center;z-index: 50005; }
#popalert .top,#popalert .btm { background: #fff;opacity:.9; }
#popalert .top { border-radius: 10px 10px 0 0; }
#popalert .btm { border-radius: 0 0 10px 10px;height: 40px;line-height: 40px; }
#popalert .btm button { color: #007cf7;border: none;padding: 0;margin: 0;background: none;font-size: 16px;font-size: 1.6rem;width: 80%;height: 100%; }
#popalert .line { border: none;padding: 0;margin: 0;height: .5px;line-height: .5px;font-size: 0; }
#popalert .alert-tit { font-size: 16px;font-size: 1.6rem;font-weigth: bold;color: #000;padding: 5px 0 0; }
#popalert .alert-cont { padding: 13px 10px 18px;font-size: 13px;font-size: 1.3rem;min-height: 20px; }
#popalert .alert-cont em { font-weight: bold; }

/* List empty */
.list-empty,.list-body .list-empty {
	text-align: center;
	padding-top: 100px;
	min-height: 210px;
}
.list-empty .list-empty-header { font-size: 18px;font-size: 1.8rem;}
.list-empty .list-empty-content { margin-top: 20px; }
.list-empty .list-empty-content a {
	display: inline-block;
	background-color: transparent;
	border: 1px solid #f60;
	border-radius: 3px;
	color: #f60;
	text-align: center;
	margin: 0;
	padding:8px 30px;
	font-size: 14px;
	font-size: 1.4rem;
  line-height: 20px;
}

/* 微信操作提示 */
.wxcover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 10000;
}
#cover-wxtips img {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 260px!important;
  height: 180px!important;
}

/* BEGIN flexText plugin style */
.flex-text-wrap {position: relative;*zoom: 1;}
textarea.flexText,.flex-text-wrap {outline: 0;margin: 0;border: none;padding: 0;*padding-bottom: 0 !important;}
.flex-text-wrap textarea,.flex-text-wrap pre {white-space: pre-wrap;width: 100%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;*white-space: pre;*word-wrap: break-word;}
.flex-text-wrap textarea {overflow: hidden;position: absolute;top: 0;left: 0;height: 100%;width: 100%;resize: none;/* IE7 box-sizing fudge factor */*height: 94%;*width: 94%;}
.flex-text-wrap pre {display: block;visibility: hidden;}
.flex-text-wrap {width:92%;margin:15px auto;}
textarea.flexText,.flex-text-wrap pre {
  /*
   * Add custom styling here
   * Ensure that typography, padding, border-width (and optionally min-height) are identical across textarea & pre
   */
  background: #fffdd2;
  border: 2px dashed #c6c6c6;
  font-size: 1.8rem;
  line-height: 1.7em;
  margin: 0;
  padding: 10px;
}
/* END flexText plugin style */

/*PC下的样式*/
@media only screen and (min-width: 1025px){

	#rtWrap {width: 720px;}
  .swipe{min-height:300px;}
  .list-body .col-1,.list-body .col-2 {
	  padding: 0;
    height: 175px;
    line-height: 175px;
  }
  .itcover .itcover-cont2 { margin-top: 13%; }

}
